In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv",index_col=0)

In [3]:
matches.head()

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,GA,xG,xGA,Poss,Sh,SoT,Dist,FK,PK,PKatt
1,2021-08-15,16:30,2022,Premier League,Matchweek 1,Sun,Away,Manchester City,Tottenham,L,...,1,1.8,1.0,65.0,18.0,4.0,17.3,1.0,0.0,0.0
2,2021-08-21,15:00,2022,Premier League,Matchweek 2,Sat,Home,Manchester City,Norwich City,W,...,0,2.6,0.1,67.0,16.0,4.0,18.5,1.0,0.0,0.0
3,2021-08-28,12:30,2022,Premier League,Matchweek 3,Sat,Home,Manchester City,Arsenal,W,...,0,4.4,0.2,80.0,25.0,10.0,14.8,0.0,0.0,0.0
4,2021-09-11,15:00,2022,Premier League,Matchweek 4,Sat,Away,Manchester City,Leicester City,W,...,0,2.8,0.6,61.0,25.0,8.0,14.3,0.0,0.0,0.0
6,2021-09-18,15:00,2022,Premier League,Matchweek 5,Sat,Home,Manchester City,Southampton,D,...,0,1.0,0.4,64.0,16.0,1.0,16.4,1.0,0.0,0.0

In [4]:
matches.shape

(3040, 21)

In [5]:
matches["Team"].value_counts()

Manchester City             152
Burnley                     152
Chelsea                     152
Tottenham Hotspur           152
Arsenal                     152
Manchester United           152
West Ham United             152
Leicester City              152
Brighton and Hove Albion    152
Wolverhampton Wanderers     152
Newcastle United            152
Crystal Palace              152
Liverpool                   152
Southampton                 152
Everton                     152
Watford                     114
Aston Villa                 114
Leeds United                 76
Norwich City                 76
Fulham                       76
Sheffield United             76
Bournemouth                  76
Brentford                    38
West Bromwich Albion         38
Cardiff City                 38
Huddersfield Town            38
Name: Team, dtype: int64

In [6]:
matches["Round"].value_counts()

Matchweek 1     80
Matchweek 29    80
Matchweek 22    80
Matchweek 23    80
Matchweek 24    80
Matchweek 25    80
Matchweek 26    80
Matchweek 27    80
Matchweek 28    80
Matchweek 31    80
Matchweek 2     80
Matchweek 32    80
Matchweek 30    80
Matchweek 34    80
Matchweek 35    80
Matchweek 36    80
Matchweek 33    80
Matchweek 37    80
Matchweek 21    80
Matchweek 20    80
Matchweek 19    80
Matchweek 18    80
Matchweek 3     80
Matchweek 4     80
Matchweek 5     80
Matchweek 6     80
Matchweek 7     80
Matchweek 8     80
Matchweek 9     80
Matchweek 10    80
Matchweek 11    80
Matchweek 12    80
Matchweek 13    80
Matchweek 14    80
Matchweek 15    80
Matchweek 16    80
Matchweek 17    80
Matchweek 38    80
Name: Round, dtype: int64

In [7]:
matches.dtypes

Date         object
Time         object
Season        int64
Comp         object
Round        object
Day          object
Venue        object
Team         object
Opponent     object
Result       object
GF            int64
GA            int64
xG          float64
xGA         float64
Poss        float64
Sh          float64
SoT         float64
Dist        float64
FK          float64
PK          float64
PKatt       float64
dtype: object

In [8]:
matches["Date"]=pd.to_datetime(matches["Date"])

In [9]:
matches.dtypes

Date        datetime64[ns]
Time                object
Season               int64
Comp                object
Round               object
Day                 object
Venue               object
Team                object
Opponent            object
Result              object
GF                   int64
GA                   int64
xG                 float64
xGA                float64
Poss               float64
Sh                 float64
SoT                float64
Dist               float64
FK                 float64
PK                 float64
PKatt              float64
dtype: object

In [10]:
matches["venue_code"]=matches["Venue"].astype("category").cat.codes      #home to 1 and away to 0

In [11]:
matches["opp_code"]=matches["Opponent"].astype("category").cat.codes

matches

In [12]:
matches["opp_code"]=matches["Opponent"].astype("category").cat.codes  #assigning codes(values) to opponents

In [13]:
matches["hour"]=matches["Time"].str.replace(":.+","",regex=True).astype("int") #converting the time to only hours

In [14]:
matches["day_code"]=matches["Date"].dt.dayofweek #day to a code like from 0 to 7

In [15]:
matches["target"]=(matches["Result"]=="W").astype("int")

In [16]:
matches

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,SoT,Dist,FK,PK,PKatt,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,2022,Premier League,Matchweek 1,Sun,Away,Manchester City,Tottenham,L,...,4.0,17.3,1.0,0.0,0.0,0,21,16,6,0
2,2021-08-21,15:00,2022,Premier League,Matchweek 2,Sat,Home,Manchester City,Norwich City,W,...,4.0,18.5,1.0,0.0,0.0,1,18,15,5,1
3,2021-08-28,12:30,2022,Premier League,Matchweek 3,Sat,Home,Manchester City,Arsenal,W,...,10.0,14.8,0.0,0.0,0.0,1,0,12,5,1
4,2021-09-11,15:00,2022,Premier League,Matchweek 4,Sat,Away,Manchester City,Leicester City,W,...,8.0,14.3,0.0,0.0,0.0,0,13,15,5,1
6,2021-09-18,15:00,2022,Premier League,Matchweek 5,Sat,Home,Manchester City,Southampton,D,...,1.0,16.4,1.0,0.0,0.0,1,20,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2019-04-13,12:30,2019,Premier League,Matchweek 34,Sat,Away,Huddersfield Town,Tottenham,L,...,1.0,18.9,1.0,0.0,0.0,0,21,12,5,0
36,2019-04-20,15:00,2019,Premier League,Matchweek 35,Sat,Home,Huddersfield Town,Watford,L,...,3.0,18.1,1.0,0.0,0.0,1,22,15,5,0
37,2019-04-26,20:00,2019,Premier League,Matchweek 36,Fri,Away,Huddersfield Town,Liverpool,L,...,1.0,21.6,0.0,0.0,0.0,0,14,20,4,0
38,2019-05-05,14:00,2019,Premier League,Matchweek 37,Sun,Home,Huddersfield Town,Manchester Utd,D,...,3.0,19.0,1.0,0.0,0.0,1,16,14,6,0
39,2019-05-12,15:00,2019,Premier League,Matchweek 38,Sun,Away,Huddersfield Town,Southampton,D,...,3.0,22.2,0.0,0.0,0.0,0,20,15,6,0

In [17]:
###############################FROM HERE ITS TRAINING##################################

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rf = RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=1)

In [20]:
train = matches[matches["Date"]<'2021-08-12']   #Matches before august 12th are the training set which is 18-19,19-20,20-21 season

In [21]:
test=matches[matches["Date"]>'2021-08-12'] #matches after aug 12

In [22]:
train

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,SoT,Dist,FK,PK,PKatt,venue_code,opp_code,hour,day_code,target
0,2020-09-21,20:15,2021,Premier League,Matchweek 2,Mon,Away,Manchester City,Wolves,W,...,8.0,21.1,2.0,1.0,1.0,0,25,20,0,1
2,2020-09-27,16:30,2021,Premier League,Matchweek 3,Sun,Home,Manchester City,Leicester City,L,...,5.0,19.8,1.0,0.0,0.0,1,13,16,6,0
4,2020-10-03,17:30,2021,Premier League,Matchweek 4,Sat,Away,Manchester City,Leeds United,D,...,1.0,18.2,1.0,0.0,0.0,0,12,17,5,0
5,2020-10-17,17:30,2021,Premier League,Matchweek 5,Sat,Home,Manchester City,Arsenal,W,...,5.0,17.7,0.0,0.0,0.0,1,0,17,5,1
7,2020-10-24,12:30,2021,Premier League,Matchweek 6,Sat,Away,Manchester City,West Ham,D,...,7.0,20.9,1.0,0.0,0.0,0,24,12,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2019-04-13,12:30,2019,Premier League,Matchweek 34,Sat,Away,Huddersfield Town,Tottenham,L,...,1.0,18.9,1.0,0.0,0.0,0,21,12,5,0
36,2019-04-20,15:00,2019,Premier League,Matchweek 35,Sat,Home,Huddersfield Town,Watford,L,...,3.0,18.1,1.0,0.0,0.0,1,22,15,5,0
37,2019-04-26,20:00,2019,Premier League,Matchweek 36,Fri,Away,Huddersfield Town,Liverpool,L,...,1.0,21.6,0.0,0.0,0.0,0,14,20,4,0
38,2019-05-05,14:00,2019,Premier League,Matchweek 37,Sun,Home,Huddersfield Town,Manchester Utd,D,...,3.0,19.0,1.0,0.0,0.0,1,16,14,6,0
39,2019-05-12,15:00,2019,Premier League,Matchweek 38,Sun,Away,Huddersfield Town,Southampton,D,...,3.0,22.2,0.0,0.0,0.0,0,20,15,6,0

In [23]:
test

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,SoT,Dist,FK,PK,PKatt,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,2022,Premier League,Matchweek 1,Sun,Away,Manchester City,Tottenham,L,...,4.0,17.3,1.0,0.0,0.0,0,21,16,6,0
2,2021-08-21,15:00,2022,Premier League,Matchweek 2,Sat,Home,Manchester City,Norwich City,W,...,4.0,18.5,1.0,0.0,0.0,1,18,15,5,1
3,2021-08-28,12:30,2022,Premier League,Matchweek 3,Sat,Home,Manchester City,Arsenal,W,...,10.0,14.8,0.0,0.0,0.0,1,0,12,5,1
4,2021-09-11,15:00,2022,Premier League,Matchweek 4,Sat,Away,Manchester City,Leicester City,W,...,8.0,14.3,0.0,0.0,0.0,0,13,15,5,1
6,2021-09-18,15:00,2022,Premier League,Matchweek 5,Sat,Home,Manchester City,Southampton,D,...,1.0,16.4,1.0,0.0,0.0,1,20,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,2022,Premier League,Matchweek 35,Sat,Away,Norwich City,Aston Villa,L,...,3.0,21.6,0.0,0.0,0.0,0,1,15,5,0
39,2022-05-08,14:00,2022,Premier League,Matchweek 36,Sun,Home,Norwich City,West Ham,L,...,2.0,22.2,1.0,0.0,0.0,1,24,14,6,0
40,2022-05-11,19:45,2022,Premier League,Matchweek 21,Wed,Away,Norwich City,Leicester City,L,...,5.0,17.0,0.0,0.0,0.0,0,13,19,2,0
41,2022-05-15,14:00,2022,Premier League,Matchweek 37,Sun,Away,Norwich City,Wolves,D,...,2.0,14.4,0.0,0.0,0.0,0,25,14,6,0
42,2022-05-22,16:00,2022,Premier League,Matchweek 38,Sun,Home,Norwich City,Tottenham,L,...,0.0,18.6,0.0,0.0,0.0,1,21,16,6,0

In [24]:
predictors=["venue_code","opp_code","hour","day_code"]  #initialize predictors with venue,opponent,hour and day

In [25]:
rf.fit(train[predictors],train["target"])        #train the target which is 0 or 1 wrt to predictors

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [26]:
preds=rf.predict(test[predictors])

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
acc=accuracy_score(test["target"],preds)

In [29]:
acc

0.6105263157894737

In [30]:
combined=pd.DataFrame(dict(actual=test["target"],prediction=preds))

In [31]:
pd.crosstab(index=combined["actual"],columns=combined["prediction"])

prediction    0   1
actual
0           374  94
1           202  90

In [32]:
from sklearn.metrics import precision_score

In [33]:
precision_score(test["target"],preds)

0.4891304347826087

In [35]:
grouped_matches=matches.groupby("Team")   #one dataframe  for each team

In [37]:
group=grouped_matches.get_group("Manchester City") #to get a specifi group from grouped matches

In [38]:
group

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,SoT,Dist,FK,PK,PKatt,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,2022,Premier League,Matchweek 1,Sun,Away,Manchester City,Tottenham,L,...,4.0,17.3,1.0,0.0,0.0,0,21,16,6,0
2,2021-08-21,15:00,2022,Premier League,Matchweek 2,Sat,Home,Manchester City,Norwich City,W,...,4.0,18.5,1.0,0.0,0.0,1,18,15,5,1
3,2021-08-28,12:30,2022,Premier League,Matchweek 3,Sat,Home,Manchester City,Arsenal,W,...,10.0,14.8,0.0,0.0,0.0,1,0,12,5,1
4,2021-09-11,15:00,2022,Premier League,Matchweek 4,Sat,Away,Manchester City,Leicester City,W,...,8.0,14.3,0.0,0.0,0.0,0,13,15,5,1
6,2021-09-18,15:00,2022,Premier League,Matchweek 5,Sat,Home,Manchester City,Southampton,D,...,1.0,16.4,1.0,0.0,0.0,1,20,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,2019-04-20,12:30,2019,Premier League,Matchweek 35,Sat,Home,Manchester City,Tottenham,W,...,4.0,16.2,0.0,0.0,0.0,1,21,12,5,1
56,2019-04-24,20:00,2019,Premier League,Matchweek 31,Wed,Away,Manchester City,Manchester Utd,W,...,5.0,18.6,0.0,0.0,0.0,0,16,20,2,1
57,2019-04-28,14:05,2019,Premier League,Matchweek 36,Sun,Away,Manchester City,Burnley,W,...,6.0,15.4,0.0,0.0,0.0,0,5,14,6,1
58,2019-05-06,20:00,2019,Premier League,Matchweek 37,Mon,Home,Manchester City,Leicester City,W,...,5.0,20.2,0.0,0.0,0.0,1,13,20,0,1
59,2019-05-12,15:00,2019,Premier League,Matchweek 38,Sun,Away,Manchester City,Brighton,W,...,9.0,18.9,2.0,0.0,0.0,0,4,15,6,1

In [ ]:
### We now do rolling averages which us previous results and calculate what result might be for the next week to imporve accuracy ###

In [54]:
def rolling_averages(group,cols,new_cols):
    group=group.sort_values("Date")
    rolling_stats=group[cols].rolling(3,closed='left').mean() #3 weeks,this is to find rolling average till current week(excluding current week(closed=left does this))
    group[new_cols]=rolling_stats
    group=group.dropna(subset=new_cols)  #for removing missing values 
    return group

In [55]:
cols = ["GF","GA","Sh","SoT","Dist","FK","PK","PKatt"]
new_cols = [f"{c}_rolling" for c in cols]                #just to make a newcols with cols+rolling

In [56]:
new_cols

['GF_rolling',
 'GA_rolling',
 'Sh_rolling',
 'SoT_rolling',
 'Dist_rolling',
 'FK_rolling',
 'PK_rolling',
 'PKatt_rolling']

In [57]:
rolling_averages(group,cols,new_cols)

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,day_code,target,GF_rolling,GA_rolling,Sh_rolling,SoT_rolling,Dist_rolling,FK_rolling,PK_rolling,PKatt_rolling
4,2018-09-01,17:30,2019,Premier League,Matchweek 4,Sat,Home,Manchester City,Newcastle Utd,W,...,5,1,3.000000,0.666667,22.333333,9.333333,18.266667,1.000000,0.000000,0.000000
5,2018-09-15,15:00,2019,Premier League,Matchweek 5,Sat,Home,Manchester City,Fulham,W,...,5,1,3.000000,1.000000,24.666667,9.333333,18.033333,1.666667,0.000000,0.000000
7,2018-09-22,15:00,2019,Premier League,Matchweek 6,Sat,Away,Manchester City,Cardiff City,W,...,5,1,2.000000,0.666667,23.333333,7.666667,17.566667,1.666667,0.000000,0.000000
9,2018-09-29,15:00,2019,Premier League,Matchweek 7,Sat,Home,Manchester City,Brighton,W,...,5,1,3.333333,0.333333,24.333333,9.000000,16.000000,1.666667,0.000000,0.000000
11,2018-10-07,16:30,2019,Premier League,Matchweek 8,Sun,Away,Manchester City,Liverpool,D,...,6,0,3.333333,0.000000,25.666667,9.000000,15.466667,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2022-04-30,17:30,2022,Premier League,Matchweek 35,Sat,Away,Manchester City,Leeds United,W,...,5,1,3.333333,1.000000,16.000000,5.333333,17.466667,0.333333,0.333333,0.333333
54,2022-05-08,16:30,2022,Premier League,Matchweek 36,Sun,Home,Manchester City,Newcastle Utd,W,...,6,1,4.000000,0.333333,18.666667,6.000000,16.933333,0.000000,0.333333,0.333333
55,2022-05-11,20:15,2022,Premier League,Matchweek 33,Wed,Away,Manchester City,Wolves,W,...,2,1,4.666667,0.333333,20.000000,7.333333,15.600000,0.333333,0.333333,0.333333
56,2022-05-15,14:00,2022,Premier League,Matchweek 37,Sun,Away,Manchester City,West Ham,D,...,6,0,4.666667,0.333333,18.333333,6.666667,15.633333,0.333333,0.000000,0.000000
57,2022-05-22,16:00,2022,Premier League,Matchweek 38,Sun,Home,Manchester City,Aston Villa,W,...,6,1,4.000000,1.000000,22.000000,7.000000,16.433333,1.000000,0.000000,0.333333

In [59]:
matches_rolling = matches.groupby("Team").apply(lambda x: rolling_averages(x,cols,new_cols)) # here now for the entire matches dataset we run the function of rolling averages

In [60]:
matches_rolling

                                 Date   Time  Season            Comp  \
Team
Arsenal                 3  2018-09-02  13:30    2019  Premier League
                        4  2018-09-15  15:00    2019  Premier League
                        6  2018-09-23  16:00    2019  Premier League
                        8  2018-09-29  15:00    2019  Premier League
                        10 2018-10-07  12:00    2019  Premier League
...                               ...    ...     ...             ...
Wolverhampton Wanderers 37 2022-04-30  15:00    2022  Premier League
                        38 2022-05-07  15:00    2022  Premier League
                        39 2022-05-11  20:15    2022  Premier League
                        40 2022-05-15  14:00    2022  Premier League
                        41 2022-05-22  16:00    2022  Premier League

                                   Round  Day Venue                     Team  \
Team
Arsenal                 3    Matchweek 4  Sun  Away                  Arsenal
                        4    Matchweek 5  Sat  Away                  Arsenal
                        6    Matchweek 6  Sun  Home                  Arsenal
                        8    Matchweek 7  Sat  Home                  Arsenal
                        10   Matchweek 8  Sun  Away                  Arsenal
...                                  ...  ...   ...                      ...
Wolverhampton Wanderers 37  Matchweek 35  Sat  Home  Wolverhampton Wanderers
                        38  Matchweek 36  Sat  Away  Wolverhampton Wanderers
                        39  Matchweek 33  Wed  Home  Wolverhampton Wanderers
                        40  Matchweek 37  Sun  Home  Wolverhampton Wanderers
                        41  Matchweek 38  Sun  Away  Wolverhampton Wanderers

                                   Opponent Result  ...  day_code  target  \
Team                                                ...
Arsenal                 3      Cardiff City      W  ...         6       1
                        4     Newcastle Utd      W  ...         5       1
                        6           Everton      W  ...         6       1
                        8           Watford      W  ...         5       1
                        10           Fulham      W  ...         6       1
...                                     ...    ...  ...       ...     ...
Wolverhampton Wanderers 37         Brighton      L  ...         5       0
                        38          Chelsea      D  ...         5       0
                        39  Manchester City      L  ...         2       0
                        40     Norwich City      D  ...         6       0
                        41        Liverpool      L  ...         6       0

                            GF_rolling  GA_rolling  Sh_rolling  SoT_rolling  \
Team
Arsenal                 3     1.666667    2.000000   13.666667     6.333333
                        4     2.666667    2.000000   16.333333     9.000000
                        6     2.666667    1.333333   15.333333     7.666667
                        8     2.333333    1.000000   12.666667     6.000000
                        10    2.000000    0.333333   10.000000     3.000000
...                                ...         ...         ...          ...
Wolverhampton Wanderers 37    0.666667    1.000000    8.666667     3.333333
                        38    0.000000    1.666667    8.666667     2.333333
                        39    0.666667    2.000000   11.666667     3.000000
                        40    1.000000    3.333333   10.666667     2.666667
                        41    1.333333    2.666667   12.666667     3.666667

                            Dist_rolling  FK_rolling  PK_rolling  \
Team
Arsenal                 3      18.166667    0.333333         0.0
                        4      17.300000    0.333333         0.0
                        6      17.333333    0.666667         0.0
                        8      17.133333    0.333333         0.0
                        10     16.666667    0.333333         0.0
...                                  ...         ...         ...
Wolverhampton Wanderers 37     17.400000    0.000000         0.0
                        38     18.633333    0.333333         0.0
                        39     17.766667    0.333333         0.0
                        40     17.066667    0.333333         0.0
                        41     17.766667    0.333333         0.0

                            PKatt_rolling
Team
Arsenal                 3             0.0
                        4             0.0
                        6             0.0
                        8             0.0
                        10            0.0
...                                   ...
Wolverhampton Wanderers 37            0.0
                        38            0.0
                        39            0.0
                        40            0.0
                        41            0.0

[2956 rows x 34 columns]

matches_rolling=matches_rolling.droplevel("Team")

In [61]:
matches_rolling=matches_rolling.droplevel("Team")  #removed that first column with team name

In [62]:
matches_rolling

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,day_code,target,GF_rolling,GA_rolling,Sh_rolling,SoT_rolling,Dist_rolling,FK_rolling,PK_rolling,PKatt_rolling
3,2018-09-02,13:30,2019,Premier League,Matchweek 4,Sun,Away,Arsenal,Cardiff City,W,...,6,1,1.666667,2.000000,13.666667,6.333333,18.166667,0.333333,0.0,0.0
4,2018-09-15,15:00,2019,Premier League,Matchweek 5,Sat,Away,Arsenal,Newcastle Utd,W,...,5,1,2.666667,2.000000,16.333333,9.000000,17.300000,0.333333,0.0,0.0
6,2018-09-23,16:00,2019,Premier League,Matchweek 6,Sun,Home,Arsenal,Everton,W,...,6,1,2.666667,1.333333,15.333333,7.666667,17.333333,0.666667,0.0,0.0
8,2018-09-29,15:00,2019,Premier League,Matchweek 7,Sat,Home,Arsenal,Watford,W,...,5,1,2.333333,1.000000,12.666667,6.000000,17.133333,0.333333,0.0,0.0
10,2018-10-07,12:00,2019,Premier League,Matchweek 8,Sun,Away,Arsenal,Fulham,W,...,6,1,2.000000,0.333333,10.000000,3.000000,16.666667,0.333333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2022-04-30,15:00,2022,Premier League,Matchweek 35,Sat,Home,Wolverhampton Wanderers,Brighton,L,...,5,0,0.666667,1.000000,8.666667,3.333333,17.400000,0.000000,0.0,0.0
38,2022-05-07,15:00,2022,Premier League,Matchweek 36,Sat,Away,Wolverhampton Wanderers,Chelsea,D,...,5,0,0.000000,1.666667,8.666667,2.333333,18.633333,0.333333,0.0,0.0
39,2022-05-11,20:15,2022,Premier League,Matchweek 33,Wed,Home,Wolverhampton Wanderers,Manchester City,L,...,2,0,0.666667,2.000000,11.666667,3.000000,17.766667,0.333333,0.0,0.0
40,2022-05-15,14:00,2022,Premier League,Matchweek 37,Sun,Home,Wolverhampton Wanderers,Norwich City,D,...,6,0,1.000000,3.333333,10.666667,2.666667,17.066667,0.333333,0.0,0.0
41,2022-05-22,16:00,2022,Premier League,Matchweek 38,Sun,Away,Wolverhampton Wanderers,Liverpool,L,...,6,0,1.333333,2.666667,12.666667,3.666667,17.766667,0.333333,0.0,0.0

In [63]:
matches_rolling.index=range(matches_rolling.shape[0]) #just to make the index unique and from 0 to 2096

In [64]:
matches_rolling

,Date,Time,Season,Comp,Round,Day,Venue,Team,Opponent,Result,...,day_code,target,GF_rolling,GA_rolling,Sh_rolling,SoT_rolling,Dist_rolling,FK_rolling,PK_rolling,PKatt_rolling
0,2018-09-02,13:30,2019,Premier League,Matchweek 4,Sun,Away,Arsenal,Cardiff City,W,...,6,1,1.666667,2.000000,13.666667,6.333333,18.166667,0.333333,0.0,0.0
1,2018-09-15,15:00,2019,Premier League,Matchweek 5,Sat,Away,Arsenal,Newcastle Utd,W,...,5,1,2.666667,2.000000,16.333333,9.000000,17.300000,0.333333,0.0,0.0
2,2018-09-23,16:00,2019,Premier League,Matchweek 6,Sun,Home,Arsenal,Everton,W,...,6,1,2.666667,1.333333,15.333333,7.666667,17.333333,0.666667,0.0,0.0
3,2018-09-29,15:00,2019,Premier League,Matchweek 7,Sat,Home,Arsenal,Watford,W,...,5,1,2.333333,1.000000,12.666667,6.000000,17.133333,0.333333,0.0,0.0
4,2018-10-07,12:00,2019,Premier League,Matchweek 8,Sun,Away,Arsenal,Fulham,W,...,6,1,2.000000,0.333333,10.000000,3.000000,16.666667,0.333333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2951,2022-04-30,15:00,2022,Premier League,Matchweek 35,Sat,Home,Wolverhampton Wanderers,Brighton,L,...,5,0,0.666667,1.000000,8.666667,3.333333,17.400000,0.000000,0.0,0.0
2952,2022-05-07,15:00,2022,Premier League,Matchweek 36,Sat,Away,Wolverhampton Wanderers,Chelsea,D,...,5,0,0.000000,1.666667,8.666667,2.333333,18.633333,0.333333,0.0,0.0
2953,2022-05-11,20:15,2022,Premier League,Matchweek 33,Wed,Home,Wolverhampton Wanderers,Manchester City,L,...,2,0,0.666667,2.000000,11.666667,3.000000,17.766667,0.333333,0.0,0.0
2954,2022-05-15,14:00,2022,Premier League,Matchweek 37,Sun,Home,Wolverhampton Wanderers,Norwich City,D,...,6,0,1.000000,3.333333,10.666667,2.666667,17.066667,0.333333,0.0,0.0
2955,2022-05-22,16:00,2022,Premier League,Matchweek 38,Sun,Away,Wolverhampton Wanderers,Liverpool,L,...,6,0,1.333333,2.666667,12.666667,3.666667,17.766667,0.333333,0.0,0.0

In [69]:
def make_predictions(data,predictors):
    train = data[data["Date"]<'2021-08-12']
    test=data[data["Date"]>'2021-08-12']
    rf.fit(train[predictors],train["target"]) 
    preds=rf.predict(test[predictors])   
    combined=pd.DataFrame(dict(actual=test["target"],prediction=preds),index=test.index)
    precision=precision_score(test["target"],preds)
    return combined,precision

In [70]:
combined,precision = make_predictions(matches_rolling,predictors+new_cols) #FOR NEW TRAINING

In [71]:
precision

0.5418994413407822

In [72]:
combined

      actual  prediction
111        0           1
112        0           1
113        0           0
114        1           1
115        1           0
...      ...         ...
2951       0           1
2952       0           0
2953       0           0
2954       0           0
2955       0           0

[757 rows x 2 columns]

In [73]:
combined=combined.merge(matches_rolling[["Date","Team","Opponent","Result"]],left_index=True,right_index=True)

In [74]:
combined

,actual,prediction,Date,Team,Opponent,Result
111,0,1,2021-08-13,Arsenal,Brentford,L
112,0,1,2021-08-22,Arsenal,Chelsea,L
113,0,0,2021-08-28,Arsenal,Manchester City,L
114,1,1,2021-09-11,Arsenal,Norwich City,W
115,1,0,2021-09-18,Arsenal,Burnley,W
...,...,...,...,...,...,...
2951,0,1,2022-04-30,Wolverhampton Wanderers,Brighton,L
2952,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D
2953,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L
2954,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D
2955,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L

In [77]:
class MissingDict(dict):
    __missing__=lambda self, key: key
    
map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United":"Manchester Utd",
    "Newcastle United":"Newcastle Utd",
    "West Ham United":"West Ham",
    "Wolverhampton Wanderers": "Wolves"
}
mapping = MissingDict(**map_values)  ##this is used to make the names proper like if it is arsenal then it will be usual arsenal itself because of lambda self, key: key, but if it is manchester united it will become manchester utd because of mapping

In [78]:
mapping["Arsenal"]

'Arsenal'

In [79]:
mapping["West Ham United"]

'West Ham'

In [80]:
combined["new_team"] = combined["Team"].map(mapping)

In [81]:
combined

,actual,prediction,Date,Team,Opponent,Result,new_team
111,0,1,2021-08-13,Arsenal,Brentford,L,Arsenal
112,0,1,2021-08-22,Arsenal,Chelsea,L,Arsenal
113,0,0,2021-08-28,Arsenal,Manchester City,L,Arsenal
114,1,1,2021-09-11,Arsenal,Norwich City,W,Arsenal
115,1,0,2021-09-18,Arsenal,Burnley,W,Arsenal
...,...,...,...,...,...,...,...
2951,0,1,2022-04-30,Wolverhampton Wanderers,Brighton,L,Wolves
2952,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D,Wolves
2953,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L,Wolves
2954,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D,Wolves
2955,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L,Wolves

In [83]:
merged = combined.merge(combined , left_on=["Date","new_team"], right_on=["Date","Opponent"])

In [84]:
merged

,actual_x,prediction_x,Date,Team_x,Opponent_x,Result_x,new_team_x,actual_y,prediction_y,Team_y,Opponent_y,Result_y,new_team_y
0,0,1,2021-08-22,Arsenal,Chelsea,L,Arsenal,1,1,Chelsea,Arsenal,W,Chelsea
1,0,0,2021-08-28,Arsenal,Manchester City,L,Arsenal,1,1,Manchester City,Arsenal,W,Manchester City
2,1,1,2021-09-11,Arsenal,Norwich City,W,Arsenal,0,0,Norwich City,Arsenal,L,Norwich City
3,1,0,2021-09-18,Arsenal,Burnley,W,Arsenal,0,0,Burnley,Arsenal,L,Burnley
4,1,0,2021-09-26,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham Hotspur
...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,0,1,2022-04-30,Wolverhampton Wanderers,Brighton,L,Wolves,1,0,Brighton and Hove Albion,Wolves,W,Brighton
712,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D,Wolves,0,1,Chelsea,Wolves,D,Chelsea
713,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City
714,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D,Wolves,0,0,Norwich City,Wolves,D,Norwich City
715,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L,Wolves,1,1,Liverpool,Wolves,W,Liverpool

In [86]:
merged[(merged["prediction_x"]==1)&(merged["prediction_y"]==0)]["actual_x"].value_counts()  #tells that when it predicted team A would win and team B would lose what actually happened

1    81
0    57
Name: actual_x, dtype: int64

In [92]:
81/138

0.5869565217391305